{% if item %}
    <tr id="cart-item-{{item.product_id}}">
        <td>
            <span class="mx-2">{{item.product_id}}</span>
        </td>
        <td><a href="{{url_for('shop.details', slug=item.slug)}}">{{item.product.name}}</a></td>
        <td>Rs. {{item.product.price}}</td>
        <td>
            <div class="columns">
                <a 
                    hx-get="{{url_for('cart.cart_update', product_id=item.product_id, action='increment')}}" 
                    hx-target="#cart-item-{{item.product_id}}"
                    hx-swap="outerHTML"
                    class="btn"
                > 
                    <i class="icon icon-plus"></i>
                </a>
                <span class="mx-2">{{item.quantity}}</span>
                <a 
                    hx-get="{{url_for('cart.cart_update', product_id=item.product_id, action='decrement')}}" 
                    hx-target="#cart-item-{{item.product_id}}"
                    hx-swap="outerHTML"
                    class="btn"
                > 
                    <i class="icon icon-minus"></i>
                </a>
            </div>
        </td>
        <td>Rs. {{item.total_price}}</td>
    </tr>
{% endif %}