<div class="column col-3 col-md-4 col-sm-6 mb-2">
    <div class="card">
      {% if product.image %}
        <div class="card-image">
          <img loading="lazy" class="img-fit-cover img-responsive aspect-ratio" src="{{url_for('static', filename=product.image)}}">
        </div>
      {% endif %}
      <div class="card-header">
        <div class="card-title h5 text-ellipsis">{{product.name}}</div>
        <small><Strong>Rs. {{product.price}}</Strong></small>
      </div>
      <div class="card-footer">
        <a href="{{url_for('shop.details', slug=product.slug)}}" class="btn btn-primary">Details</a>
      </div>
    </div>
  </div>